.address-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
  }
  
  .select-address {
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
  .select{
    color: #1F3C88;
    font-size: 20px;
  }
  .delivery-address {
    /* flex: 1; */
    /* margin-left: 20px;  */
    display: inline-block;
    flex-wrap: wrap;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    max-width: 700px;
  }
  .address-preview {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 600px; 
  }


  @media (max-width: 425px){
    .address-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5rem;
      padding-left: 40px;
    }
  }
  
  @media (max-width: 320px)  {
    .address-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5rem;
      padding-left: 20px;
    }
  }
  @media (max-width: 375px)  {
    .address-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5rem;
      padding-left: 15px;
    }
  }